<div class="mt-12 md:mt-0">
  <canvas id="c" style="border-radius: 1em;" ></canvas>

  <div class="controls w-full">
    <div class="pt-4 font-semibold">You may reposition the image with your mouse or finger.</div>
    <div class="pt-6">
      <label for="angle-control" class="text-lg font-medium leading-5">Rotation:</label>
      <input type="range" id="angle-control" value="0" min="0" max="360" class="w-full" disabled>
    </div>
    <div class="pt-6">
      <label for="scale-control" class="text-lg font-medium leading-5">Scale:</label>
      <input type="range" id="scale-control" value="1" min="0" max="2" step="0.01" class="w-full" disabled>
    </div>
  </div>
</div>