<div>
  <div>
    <ol class="instructions">
      <li class="text-lg leading-5 font-medium">
        {{ site.step-1 }}
          <div id="upload" class="mt-4 p-6 w-full bg-gray-100 text-center rounded-2xl cursor-pointer hover:bg-primary hover:text-white transition duration-200 ease-in-out break-words">
            <span id="upload-text">{{ site.upload-text }}</span>
          </div>
      </li>

      <li class="text-lg leading-5 font-medium pt-12">
        {{ site.step-2 }}
      </li>

      <li class="text-lg leading-5 font-medium pt-12">
        {{ site.step-3 }}

        <button class="block w-full mt-4 px-8 py-5 rounded-2xl bg-primary text-white font-bold text-center" id="download" disabled>
          {{ site.download-button-text }}
        </button>
      </li>

      <li class="text-lg leading-5 font-medium pt-12">
        {{ site.step-4 }}

        <div class="block mt-4 p-4 md:p-8 rounded-2xl bg-gray-100 select-all">
          <div id="caption" class="break-words">{% for line in site.caption-lines %}
            <p class="mb-5">{{ line }}</p>
          {% endfor %}</div>
        </div>
        <button class="block w-full mt-4 px-8 py-5 rounded-2xl bg-primary text-white font-bold text-center" id="copyCaptionBtn">
          Copy to Clipboard
        </button>
      </li>

      </ol>

  </div>
</div>
